body {
  margin: 0;
  text-align: center;
}

.container {
  display: flex;
  margin: auto;
  min-height: 400px;
  max-width: 400px;
  font-family: verdana, 'Open Sans', sans-serif;
  color: #EEEEEE;
  background-color: #1b244a;
  justify-content: space-around;
}

.score {
  background: #0a0001;
  font-size: 90px;
  color: #F94F6D;
  width: 120px;
  margin: 20px;
}

button {
  background: none;
  border-color: white;
  color: white;
}
